{% extends 'layout.twig' %}
{% block content %}
<h1>Dashboard</h1>

<ul>
    <li><a href="/php/users/add">Add Users</a></li>
    <li><a href="/php/jobs/add">Add Jobs</a></li>
    <li><a href="/php/projects/add">Add Projects</a></li>
</ul>
<a href="/php/logout">Logout</a>
{% endblock %}